<template>
  <div class="about bg-black min-h-screen">
    <div class="flex flex-col justify-self-center items-center mx-auto">
      <h1 class="text-red-600 font-mono font-blod text-3xl">My Projects</h1>
      <div>
        <a href="http://darkshiny.me/" class="bg-gray-800 rounded-md bg-opacity-30 sm:h-96 sm:w-96 h-80 w-auto mt-10 flex flex-col items-center justify-center p-2 transform duration-300 ease-in-out hover:scale-110 motion-reduce:transform-none mt-3 ">
          <img class="" src="https://1000logos.net/wp-content/uploads/2020/10/Fight-Club-Logo.png" width="290" height="290">
          <h1 class="font-mono font-bold text-2xl text-red-600 mt-2">darkshiny.me</h1>
          <p class="text-white font-mono font-bold text-2xl mt-2">My Personal Website Was Written In Vue, Open Source Codes Will Be Released Soon</p>
        </a>
      </div>
      <div class="sm:hidden mt-10 block flex items-center space-x-5 justify-center bg-red-600 rounded h-10 w-72 flex mx-auto items-center justify-center transform duration-300 ease-in-out hover:scale-110 motion-reduce:transform-none">
        <router-link class="text-white font-mono justify-end flex order-last text-2xl" to="projects">⠀Projects</router-link>
        <router-link class="text-white font-mono justify-end flex order-last text-2xl" to="blog">Blog</router-link>
        <router-link class="text-white font-mono justify-end flex order-last text-2xl" to="projects">Donate⠀</router-link>
      </div>
    </div>
  </div>
</template>
