<template>
  <div class="blog bg-black min-h-screen">
    <div class="flex flex-col space-y-5 justify-center items-center mt-96">
      <a class="text-red-600 font-mono font-bold sm:text-9xl text-7xl mx-auto">Coming Soon...</a>
    </div>
    <div class="sm:hidden mt-10 block flex items-center space-x-5 justify-center bg-red-600 rounded h-10 w-72 flex mx-auto items-center justify-center transform duration-300 ease-in-out hover:scale-110 motion-reduce:transform-none">
      <router-link class="text-white font-mono justify-end flex order-last text-2xl" to="projects">⠀Projects</router-link>
      <router-link class="text-white font-mono justify-end flex order-last text-2xl" to="blog">Blog</router-link>
      <router-link class="text-white font-mono justify-end flex order-last text-2xl" to="projects">Donate⠀</router-link>
    </div>
  </div>
</template>