<template class="bg-black" >
  <div class="hello min-h-screen flex flex-col space-y-5 justify-center items-center">
    <div class="flex flex-col space-y-2 items-center " >
      <img class="rounded-full mx-auto transform duration-300 ease-in-out hover:scale-110 motion-reduce:transform-none" src="https://images-ext-1.discordapp.net/external/x5U4vkGBW-WPgzKoX0DiWlt9tgJ0-jujMtl0Hb_ijuk/%3Fsize%3D1024/https/cdn.discordapp.com/avatars/438037153310834700/a885fac2d958a6958a7f0764de4a8c66.png?width=676&height=676" width="300" height="300">
      <h1 class=" text-white text-4xl font-mono text-red-600 font-bold" >DarkShiny</h1>
      <a class="text-white text-2xl font-bold font-mono">"Hello, I'm DarkShiny. I live in Turkey. My age is 15. My Interests are Html and Css , JS."</a>
      <a href="https://discord.com/users/438037153310834700" target="_blank" ><img class="flex mt-10 mx-auto ml-5 w-auto h-auto transform duration-300 ease-in-out hover:scale-110 motion-reduce:transform-none" src="https://lanyard-profile-readme.vercel.app/api/438037153310834700" height="10" width="10"></a>
      <div class="mx-auto justify-center mt-4">
        <h1 class="text-3xl font-bold font-mono text-red-600 mx-auto">Technologies I use</h1>
        <div class="mt-10 grid sm:grid-cols-4 grid-cols-2 sm:gap-4 gap-2">
          <a href="https://html.com/" target="_blank" class="bg-gray-800 rounded-md bg-opacity-30 flex flex-col items-center justify-center p-2 space-y- transform duration-300 ease-in-out hover:scale-110 motion-reduce:transform-none">
            <div>
              <img src="http://imajans.com.tr/blog/wp-content/uploads/2015/02/html5.png" width="100" height="100">
            </div>
          </a>
          <a href="https://css-tricks.com/" target="_blank" class="bg-gray-800 rounded-md bg-opacity-30 flex flex-col items-center justify-center p-2 space-y- transform duration-300 ease-in-out hover:scale-110 motion-reduce:transform-none">
            <div>
              <img src="https://static.cdnlogo.com/logos/c/18/css.svg" width="100" height="100">
            </div>
          </a>
          <a href="https://tailwindcss.com/" target="_blank" class="bg-gray-800 rounded-md bg-opacity-30 flex flex-col items-center justify-center p-2 space-y- transform duration-300 ease-in-out hover:scale-110 motion-reduce:transform-none">
            <div>
              <img src="https://seeklogo.com/images/T/tailwind-css-logo-5AD4175897-seeklogo.com.png" width="100" height="100">
            </div>
          </a>
          <a href="https://vuejs.org/" target="_blank" class="bg-gray-800 rounded-md bg-opacity-30 flex flex-col items-center justify-center p-2 space-y- transform duration-300 ease-in-out hover:scale-110 motion-reduce:transform-none">
            <div>
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Vue.js_Logo_2.svg/1184px-Vue.js_Logo_2.svg.png" width="100" height="100">
            </div>
          </a>
          <a href="https://github.com/" target="_blank" class="bg-gray-800 rounded-md bg-opacity-30 flex flex-col items-center justify-center p-2 space-y- transform duration-300 ease-in-out hover:scale-110 motion-reduce:transform-none">
            <div>
              <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" width="100" height="100">
            </div>
          </a>
          <a href="https://nodejs.org/en/" target="_blank" class="bg-gray-800 rounded-md bg-opacity-30 flex flex-col items-center justify-center p-2 space-y- transform duration-300 ease-in-out hover:scale-110 motion-reduce:transform-none">
            <div>
              <img src="https://www.pikpng.com/pngl/b/430-4309640_js-logo-nodejs-logo-clipart.png" width="100" height="100">
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="sm:hidden block flex items-center space-x-5 justify-center bg-red-600 rounded h-10 w-96 flex mx-auto items-center justify-center transform duration-300 ease-in-out hover:scale-110 motion-reduce:transform-none">
      <router-link class="text-white font-mono justify-end flex order-last text-2xl" to="projects">⠀Projects</router-link>
      <router-link class="text-white font-mono justify-end flex order-last text-2xl" to="blog">Blog</router-link>
      <router-link class="text-white font-mono justify-end flex order-last text-2xl" to="projects">Donate⠀</router-link>
    </div>
    <a class="text-red-600 mx-auto text-3xl font-mono font-bold">Website builder is <span class="text-white">DarkShiny</span></a>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
template {
  background-color: black;
}
</style>
