<template>
  <div id="nav" class="bg-black flex items-center justify-center sm:justify-between">
    <div class="flex items-center justify-center " >
    <img class="" src="https://1000logos.net/wp-content/uploads/2020/10/Fight-Club-Logo-500x313.png"  width="100" height="100">
    <a href="/home" class="font-mono font-bold text-red-600 text-4xl mb-1">DarkShiny</a>
    </div>
    <div class="flex items-center space-x-5 hidden sm:block sm:flex">
      <router-link class="text-red-500 font-mono justify-end flex order-last text-2xl" to="projects">Projects</router-link>
      <router-link class="text-red-500 font-mono justify-end flex order-last text-2xl" to="blog">Blog</router-link>
      <router-link class="text-red-500 font-mono justify-end flex order-last text-2xl" to="projects">Donate</router-link>
    </div>
  </div>

  <router-view/>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
}


</style>
